body
	{
		background-image:url("sunrise.jpg");
		background-repeat:repeat-x;
		background-attachment:scroll;
		background-size:cover;
	}

.one
	{
		color:purple;
		text-align: center;
		font-family:"Courier New";
		font-size:40px;
	}
.two
	{
		color:slateblue;
		text-align: center;
		font-family:"Courier New";
		font-size:20px;
	}
.sec
	{
		font-size:medium;
	}
ul
	{
		list-style:none;
		top:10px;
		bottom:10px;
		overflow: hidden;
	}
li
	{
		float:left;
	}
ul li a 
	{
		width:20px;
		height:20px;
		font-size:20px;
		color:purple;
		background-color:lavender;
		display:block;
		position:sticky;
		padding:10px;
		margin:0 10px;
		border:2px solid purple;
		border-radius:50%;
		
	}
ul li a.fa
	{
		position:sticky;
	}
ul li a:hover
	{
		background-color:lavender;
		-webkit-transition:transform 0.3s ease-out;
		transform:rotate(360deg);
	}

ul li a:hover:after
	{
		
	
.sec
	{
		font-size:15px;
		font-family:"Courier New";
	}
